body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #008080;
	padding: 20px 0;
	}

nav {
	position: absolute;
	top: 10px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 10px 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #00ff7f;
	text-decoration: underline;
}

main {
	background: linear-gradient(#008080, #008B8B, #FFFFFF)
}

.principal {
    padding: 20px;
}

.container {
	width: 500px;
	float: left;
	margin: 0 20px 20px;
}

.titulo {
    padding-left: 20px;
	font-weight: bolder;
}

p {
    text-align: left;
	padding: 10px;
	padding-left: 20px;
}

.copyright {
	color: black;
	font-size: 13px;
	margin-top: 100px;
}

.liberado {
	width: 940px;
	margin: 0 10px;
	padding: 50px 10px;
}

.liberado li {
	display: table;
	text-align: center;
	height: 50px;
	vertical-align: top;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.liberado h2 {
	font-size: 20px;
	font-weight: bold;
}

.conhecimento-embarque {
	font-size: 17px;
}

.destino {
	font-size: 19px;
	font-weight: bold;
}

