body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #008080;
	padding: 20px 0;
	}

nav {
	position: absolute;
	top: 10px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 0 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #00ff7f;
	text-decoration: underline;
}

main {
	background: linear-gradient(#008080, #008B8B, #FFFFFF)
}

.principal {
    padding: 20px;
}

.container {
	width: 500px;
	float: left;
	margin: 0 20px 20px;
}

.titulo {
    padding-left: 20px;
	font-weight: bolder;
}

p {
    text-align: left;
	padding: 10px;
	padding-left: 20px;
}

.copyright {
	color: black;
	font-size: 13px;
	margin-top: 100px;
}

table {
	margin: 20px 0 10px;
}

thead {
	background: #FFFF00;
	left: 100px;
}

th.embarcando {
	border: 1px solid #000000;
	padding: 10px 90px;
	position: relative;
	left: -400px;
}

th.embarcado {
	border: 1px solid #000000;
	padding: 10px 90px;
	position: relative;
	left: -100px;
	top: -800px
}

.modais-embarcando {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

}

.modais-embarcando li {
	display:  inline-block;
	text-align:  center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	position: relative;
	left: -400px;
}

.modais-embarcando li:hover {
	border-color: #C78C19;
}

.modais-embarcando li:active {
	border-color: #00ff7f;
}

.modais-embarcando li:hover h2 {
	font-size: 34px;

}

.modais-embarcando h2 {
	font-size: 30px;
	font-weight: bold;
}

.conhecimento-embarque {
	font-size: 18px;
}

.destino {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;

}

.modais-embarcando {
	width: 940px;
	margin: 0 auto;
	padding: 50px 0;

}

.modais-embarcado li {
	display:  inline-block;
	text-align:  center;
	width: 30%;
	vertical-align: top;
	margin: 0 1.5%;
	padding: 20px 20px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
	position: relative;
	left: -100px;
	top: -925px;
}

.modais-embarcado li:hover {
	border-color: #C78C19;
}

.modais-embarcado li:active {
	border-color: #00ff7f;
}

.modais-embarcado li:hover h2 {
	font-size: 34px;

}

.modais-embarcado h2 {
	font-size: 30px;
	font-weight: bold;
}

.conhecimento-embarque {
	font-size: 18px;
}

.destino {
	font-size: 22px;
	font-weight: bold;
	margin-top: 10px;

}