body {
	font-family: 'Montserrat', sans-serif;
}

header {
	background: #008080;
	padding: 20px 0;
	}

nav {
	position: absolute;
	top: 10px;
	right: 0;
}

nav li {
	display: inline;
	margin: 0 10px 0 15px;
}

nav a {
	text-transform: uppercase;
	color: #FFFFFF;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}

nav a:hover {
	color: #00ff7f;
	text-decoration: none;
	
}

main {
	background: linear-gradient(#008080, #008B8B, #FFFFFF)
}

.principal {
    padding: 20px;
}

.container {
	width: 500px;
	float: left;
	margin: 0 20px 20px;
	filter: drop-shadow(2px 2px 2px #222);
}

.titulo {
    padding-left: 20px;
	font-weight: bolder;
}

p {
    text-align: left;
	padding: 10px;
	padding-left: 20px;
}

footer {
    position: absolute;
    bottom: 0;;
    color: #FFFFFF;
    width: 100%;
	background-color: #000000;
    height: 100px;    
    text-align: center;
    line-height: 100px;
}

.liberado {
	width: 940px;
	margin: 0 10px;
	padding: 50px 10px;
}

.liberado li {
	display: table;
	text-align: center;
	height: 50px;
	vertical-align: top;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.liberado li:hover {
	border-color: #ffd700;

}

.liberado li:active {
	border-color: #00ff7f;
}

.liberado h2 {
	font-size: 20px;
	font-weight: bold;
}

.conhecimento-embarque {
	font-size: 17px;
}

.destino {
	font-size: 19px;
	font-weight: bold;
}

.andamento {
	width: 940px;
	margin: -45% 400px;
	padding: 50px 10px;
}

.andamento li {
	display: table;
	text-align: center;
	height: 50px;
	vertical-align: top;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.andamento li:hover {
	border-color: #ffd700;

}

.andamento li:active {
	border-color: #00ff7f;
}

.andamento h2 {
	font-size: 20px;
	font-weight: bold;
}

.titulo-kanban {
	background: #ffd700;
	width: 21.5%;
}

.Entregue {
	width: 940px;
	margin: -31.8% 800px;
	padding: 50px 10px;
}

.Entregue li {
	display: table;
	text-align: center;
	height: 50px;
	vertical-align: top;
	margin: 10px 0;
	padding: 0 5px;
	box-sizing: border-box;
	border: 2px solid #000000;
	border-radius: 10px;
}

.Entregue li:hover {
	border-color: #ffd700;

}

.Entregue li:active {
	border-color: #00ff7f;
}

.Entregue h2 {
	font-size: 20px;
	font-weight: bold;
}